* {
  box-sizing: border-box;
}

body {
  background-color: #0a2433;
  margin: 0;
  font-family: 'Karla', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main {
  background-color: #f5f5f5;
  flex-direction: column;
  border-radius: 10px;
  height: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  padding: 10px 10px;
}
.description {
  /* border: 1px solid red; */
  padding: 0 40px;
  text-align: center;
  width: min(300px, 100%-15rem);
  margin-bottom: 4rem;
}
.title {
  font-size: 3rem;
}
.instruct {
  color: #0a2433;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 25px;
}

.container {
  display: grid;
  width: 400px;
  gap: 2rem;
  grid-template-columns: repeat(5, 1fr);
}

.die {
  color: #2b283a;
  width: 4rem;
  height: 4rem;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}

.rollDice {
  margin-top: 40px;
  height: 50px;
  width: 150px;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  outline: none;
  cursor: pointer;
  transition: 0.5s ease-out;
  border: none;
  border-radius: 5px;
  background-color: #5035fd;
  margin-bottom: 20px;
}

.rollDice:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 400px) {
  main {
    width: 90%;
    /* height: 90vh; */
    padding: 0;
  }
  .container {
    width: 90%;
    padding: 0;

    gap: 10px;
  }
  .description {
    margin-bottom: 2rem;
    padding: 0 7px;
    width: 100%;
  }
  .die {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
  }
}
